*{
    margin: 0;
    padding: 0;
}
.cabecalho{
    background-color: #2D9596;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;

}
.cabecalho_titulo{
    color: black;

}
.cabecalho_imagem{
    width: 15%;
    align-items: last baseline;
}
.cabecalho_lista{
    display: inline-block;
    margin: 0 16px;
}