header{
    background-color: #2D9596;
    color: white;
}
h1{
    color: black;
    <link href='https://fonts.googleapis.com/css?family=Hurricane' rel='stylesheet'>
    font-family: 'Hurricane';font-size: 22px;
    text-align: justify;

}